[Unit]
Description=Weston
Requires=dbus.socket

[Service]
ExecStart=/bin/sh -c 'if grep -q "no-gles" /proc/cmdline ; then weston-launch -- -i0 --use-pixman ; else weston-launch -- -i0 ; fi'
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty1

[Install]
WantedBy=weston.target
